body{
    margin: 0;
}

.dashboard{
    display: flex;
    /* justify-content: center; */
    height: 100vh;
}

.sidePanel{
    background-color: #f7cbda;
    padding: 20px;
    margin: 10px;
}

.mainContent{
    background-color: #fcf5f7;
    width: 100%;
    margin: 10px;
}

.FinancialDetails{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.child{
    text-align: center;
    padding: 10px;
    border: 1px solid gray;
    width: 22%;
}
