body{
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    min-height: 80vh;
}

.Login_Class{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 12px;
}

.Login_btn{
    width: 508px;
    height: 50px;
    background-color: #3273a8;
    font-size: larger;
    font-weight: bolder;
    margin-top: 10px;
}

.input{
    width: 500px;
    height: 50px;
}

.div{
    font-size: large;
    font-weight: bold;
}

.Register_div{
    text-align: center;
    margin: 0;
}

h1{
    color: #20415c;
    margin-bottom: 0;
}