body{
    background-color: #f5f7fa;
}

h1{
    color: #111827;
}

h2{
    color: #6b7280;
}

.deleteBtn{
    border: none;
    background: none;
    padding: 0px;
}

.editBtn{
    border: none;
    background: none;
    padding: 0px;
}

#addBtn{
    background-color: #4f46e5;
    color: #ffffff;
}

span{
    padding: 10px;
}